
# CBTAXII CONFIGURATION FILE
# Imports taxii/stix feeds into Carbon Black feeds

# general cbconfig options

[cbconfig]

#
# Cb Response Server Url
#
server_url=https://www.askthedragon.net

#
# You need to supply a CB global administrator API key here so that we can add our feed
#
auth_token=a2804ba04a108d22607099b183ab244de5e2d1e6

#
# Put each site into its own configuration section.
# You might just have a single site, like soltra edge or a remote taxii server
#

[eclecticiq]

#
# the address of the site (server ip or dns; do not put http(s):// here)
# we prepend http or https accordingly.
#
site=test.taxiistand.com

#
# Discovery path.  This is required
#
discovery_path=/read-write-auth/services/discovery

#
# Collection Management path.  If not specified we will try to discover.
#
collection_management_path=/read-write-auth/services/collection-management

#
# Poll path.  If not specified we will try to discover.
#
poll_path=/read-write-auth/services/poll

#
# change to true if you require https versus http
#
use_https=True

#
# Verify SSL
#
ssl_verify=False

#
# if you need SSL certificates for authentication, set the path of the
# certificate and key here.  Please leave blank to ignore.
#
cert_file=
key_file=

#
# the output path for the feeds, probably leave this alone
#
output_path=/usr/share/cb/integrations/cbtaxii/feeds/

#
# the icon link, we come with soltra and taxii icons, but if you
# have your own, this will show up
#
icon_link=/usr/share/cb/integrations/cbtaxii/taxii-logov2.png

#
# username for auth
#
username=guest

#
# password for auth
#
password=guest

#
# collections to retrieve (* for all, otherwise comma separated list case-insensitive)
#
collections=*


#
# automatically create CB feeds, probably leave this to true
#
feeds_enable=true

#
# (optional) the start date for which to start requesting data.
# Defaults to 2016-12-01 00:00:00 if you supply nothing
#
start_date=2016-12-01 00:00:00

#
# (optional) the minutes to advance for each request.  This
# defaults to 60.  If you don't have a lot of data, you could
# advance your requests to every 60 minutes or multiply 60 times
# number of hours, so 1440 to ask for data in daily chunks
#
minutes_to_advance=1440


## If you want to use hailataxii
#[hailataxii]
#site=hailataxii.com
#output_path=/usr/share/cb/integrations/cbtaxii/feeds/
#icon_link=/usr/share/cb/integrations/cbtaxii/taxii-logov2.png
#username=guest
#password=guest
#feeds_enable=true
#start_date=2016-11-01 00:00:00
#minutes_to_advance=1440
#discovery_path=/taxii-discovery-service
