# cb-taxii-connector requirements file
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# If changes to this file are made, use `pip-compile -U -q requirements.in` at the
# command line from within the repository root folder.
################################################################################

git+https://github.com/carbonblack/cbfeeds.git@feature-python3-support
stix==1.2.0.2
cbapi==1.3.6
cabby==0.1.20
pyinstaller==3.6
simplejson
lxml==4.2.5
ipaddress
configparser
mock
