-e git://github.com/carbonblack/cbfeeds.git#egg=cbfeeds
-e git://github.com/carbonblack/cb-integration.git#egg=cbint
-e git://github.com/TAXIIProject/libtaxii.git@1.1.107#egg=libtaxii
-e git://github.com/STIXProject/python-stix@v1.2.0.0#egg=stix
requests >= 2.7.0
simplejson
cbapi == 0.8.0
