#Define a new section like the below for each Taxii server to pull STIX Indicators from

[taxiiserver]
#------------------------------------------------------------------------------
#    Taxii Server Configuration
#------------------------------------------------------------------------------

#Base URL For Taxii 2 server - must include protocol , may include port
#url=https://example.com:5000/taxii2
url=
#Indicators must be scored in EDR (1-100) -- the default score is 75
#score=

#TAXII version defaults to 2.1 but can be controlled
#version=V20
#version=V21

#by default, the connector will discover and pull IOC's from all readable collections on the server
#if desired, you can limit the collections to a comma delimited list
#collections=

#IOC Type support
#By default, the connector will pull MD5/SHA256 hashes, ipv4/6 addresses, and domain-names
#To limit the types of IOCS in the generated feed, specify a comma delimited list of address, hash, domain
#ioc_types=address,hash,domain

#username and password or token authentication are supported
#username=
#password=
#token=

#cert's can be provided as a path to a pem encoded cert+key pair
# or as a comma delimited list of cert and then key file-paths
#cert=

#use to control validation of the servers certificate - defaults to TRUE if not specified
#verify=

#Additional stanzas can be defined for each taxii server to pull Indicators from
#[anomali]
#url=https://limo.anomali.com/api/v1/taxii2/taxii/
#username=guest
#password=guest
#version=v20

[bridge]
#------------------------------------------------------------------------------
#    Core Configuration
#------------------------------------------------------------------------------
listener_port=6100
# Change the following listener_address to 0.0.0.0 to allow remote connections
listener_address=127.0.0.1
# Change the following to the host address if cb Response server is remote.
#host_address=127.0.0.1

# The amount of time in minutes between the end of one feed retrieval and the start of another.
feed_retrieval_minutes=60

# Enabling debugging will cause the service to not return when started.  To just get debug logging,
# use log_level=DEBUG instead.
#debug=True

# This is the log level that will be output to the log.  Default is INFO.
# Options are: DEBUG, INFO, WARNING, ERROR
#log_level=INFO

# API key for an administrative user of the VMware Carbon Black EDR server
carbonblack_server_token=

# Only uncomment out the carbonblack_server_url if you are running the connector on a machine
#  *other* than the Cb server itself.
# carbonblack_server_url=

# If you need to use an HTTPS proxy to access the taxii server, uncomment and configure the https_proxy
# variable below.
# https_proxy=http://proxyuser:proxypass@proxyhostname:proxyport

# The location to store cached feed reports and temporary files
cache_folder=/usr/share/cb/integrations/cb-taxii-connector/cache

# Set this to true if you want the cache file to be formatted and easier to read.
# Warning! Enabling this will slow down the writing to disk by a magnitude of 10
#pretty_print_json=False

# If this option is set to true, it will cause the connector to not reach out to a CbResponse server to push
# sync requests and instead rely on the CbR Server to sync at it's regular schedule.
#skip_cb_sync=True

# Setting multi_core to True will use multiple processes for feed retrieval.  This has the effect of keeping
# memory usage low as the retrieval process ends after each retrieval returning used memory back to the OS.
# If this option is set to False, it will run multi-threaded which will have a larger memory footprint.
#multi_core=True

# If this option is set to Stream (default), the feed will be written to file via a stream as it is retrieving the
# feed from the configured taxii servers.  This can use significantly less memory than Bulk.  If set to Bulk, the entire
# feed is read from the configured taxii servers before it is saved to disk.  With large feeds (>100,000 records) it is best to
# leave this option as Stream to reduce the memory footprint.
# Stream (default) - Saves to disk while retrieving data.
# Bulk - Saves at the end of the feed retrieval.
#feed_save_mode=Stream